torch==2.4.1
torchvision==0.19.1
git+https://github.com/huggingface/diffusers.git@249a9e48e8f8aac4356d5a285c8ba0c600a80f64
transformers==4.44.0
accelerate==0.33.0
sentencepiece==0.2.0
protobuf==5.27.3
numpy==1.26.0
pillow==10.4.0
peft==0.13.0
pydantic==2.9.2